<nav>
  <div class="nav" id="navbar">
    <ul class="navbar-left">
      <li>
          <i class="material-icons">shopping_cart</i>  
          <span class="logo">Cart.ly</span>
      </li>
      <li>
        <a href="#">Shop</a>
      </li>
    </ul>
    <!--end navbar-left -->

    <ul class="navbar-right">
      <li>
        <a href="javascript:void(0);" id="cart">
        <span class="hide">Your Cart</span>
        <span class="count">{{cart.length}}</span>
        </a>   
      </li>
    </ul>
    <!--end navbar-right -->
    </div>
</nav>


<div class="content">

    <h1>Shop our featured collection</h1>
     
    <div class="products">

        <div class="list" *ngFor="let product of products">
          <img src="assets/img/{{product.filename}}" alt="">
          <p>{{product.name}}</p>
          <p>{{product.price*.01 | currency:'USD'}}</p>
          <button (click)="addToCart(product)">Add to cart</button>
        </div>

    </div>

    <!-- Cart Modal -->
    <div id="myModal" class="modal">
    
      <!-- Cart Content -->
      <div class="cartContents">
        <h2>Your Cart</h2>
        <div *ngIf="cart == 0" class="empty">
            <h3>Nothing in your cart, start shopping.</h3>
        </div>

        <table>
          <tbody>
              <tr *ngFor="let product of cart; let i = index">
                <td>
                  <img src="assets/img/{{product.filename}}" alt="" width="100px">
                </td>
                <td>
                  {{product.name}} 
                  <button (click)="remove(i)"class="delete">&times;</button>
                  <p>{{product.price*.01 | currency:'USD'}}</p>
                </td>
              </tr>
              <tr>
                <td><h2>Total</h2></td>
                <td><h2>{{total | currency: 'USD'}}</h2></td>
              </tr>
          </tbody>
        </table>

        <button class="close">Back</button>

      </div>
      <!-- End Cart Conten -->
    </div>
    <!-- End Cart Modal -->

</div>
<!-- End Content -->


